{% do require(["name"], ["method"]) %}

{% do default({
    label: label ?? name|title,
    options: options ?? [],
    value: name
        |split('.')
        |reduce(
            (n, v, k) => [
                n[0].(v) ?? null,
                n[1].(v) ?? null,
                n[2]
            ],
            [
                context.request.method == 'GET'
                    ? context.request.queryParams
                    : context.request.parsedBody,
                context.model ?? null,
                value ?? null
            ]
        )
        |filter((v) => v is not null)
        |first
}) %}

<x:form:label>{{ label }}</x:form:label>
<select name="{{ name }}" class="w-full px-4 py-2 border-1">
    {% if children|length %}
        {{ children|raw }}
    {% else %}
        {% for v, n in options %}
            <option class="px-4" value="{{ v }}" {{ (v == value ?: NULL)|attr('selected')}}>
                {{ n }}
            </option>
        {% endfor %}
    {% endif %}
</select>
