{% do require(["name"], ["method"]) %}

{% do default({
    eg: eg ?? null,
    lines: lines ?? 4,
    label: label ?? name|title,
    required: (required ?? false)|switch,
    inline: (inline ?? false)|switch,
    value: name
        |split('.')
        |reduce(
            (n, v, k) => [
                n[0].(v) ?? null,
                n[1].(v) ?? null,
                n[2]
            ],
            [
                context.request.method == 'GET'
                    ? context.request.queryParams
                    : context.request.parsedBody,
                context.model ?? null,
                value ?? null
            ]
        )
        |filter((v) => v is not null)
        |first
}) %}

{% set classes = styling(
    'px-4 py-2 w-full',
    {
        'border-l-1': inline,
        'mb-4 border-1 rounded-input': not inline
    }
) %}

{% if inline %}
    <t:form:label class:="border-1 rounded-input flex">
        <div class="px-4 py-2 text-fore-300 text-nowrap">
            {{ label }} {% if required %}<span class="text-halt">*</span>{% endif %}
        </div>
        <input
            class="{{ classes }}"
            type="text"
            size="1"
            name="{{ name }}"
            placeholder="{{ eg }}"
            {{ 'required'|if(required) }}
        />
    </t:form:label>
{% else %}
    <t:form:label>
        {{ label }}
        {% if required %}
            <span class="text-halt">*</span>
        {% endif %}
    </t:form:label>
    <textarea
        class="{{ classes }}"
        type="text"
        size="1"
        name="{{ name }}"
        rows="{{ lines }}"
        placeholder="{{ eg }}"
        {{ 'required'|if(required) }}
    >{{ value }}</textarea>
{% endif %}
