{% use '@layouts/global.html' %}

<!doctype html>
<html lang="en" hx-boost="true" hx-target="#main" hx-swap="innerHTML">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% if app.hasFile('public/manifest.json') %}
            <link rel="manifest" href="/manifest.json" />
        {% endif %}

        <link rel="preconnect" href="https://cdn.jsdelivr.net">

        <script defer src="https://cdn.jsdelivr.net/npm/htmx.org@2.x.x/dist/htmx.min.js" crossorigin></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        {% block links %}

        {% endblock %}

        {% block scripts %}

        {% endblock %}
    </head>
    <body>
        <main id="main">

        </main>
        <input type="hidden" hx-trigger="load" hx-get="{{ request.uri.path }}" />
    </body>
</html>
