<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />

        {% block head %}
        	{% include '@layouts/velocity/head.html' %}
        {% endblock %}
    </head>
    <body
        id="body"
        hx-boost="true"
        hx-target="this"
        hx-swap="innerHTML show:window:top settle:0"
        class="@container"
    >
        {% block body %}

        {% endblock %}
    </body>
    <script>
        const __vHoist = function(content, meta) {
            let parser = new DOMParser();
            let dom    = parser.parseFromString(content, 'text/html');

            ['script', 'style'].forEach((type) => {
                dom.querySelectorAll(type).forEach((node) => {
                    if ('hash' in node.dataset) {
                        let hash = node.dataset.hash;

                        if (!window.hashLoads.includes(hash)) {
                            let new_node = document.createElement(type);

                            new_node.dataset.hash = hash;
                            new_node.innerHTML = node.innerHTML;

                            window.hashLoads.push(hash);
                            document.head.appendChild(new_node);
                        }

                        node.remove();
                    }
                });
            });

            dom.querySelectorAll('meta[http-equiv]').forEach((node) => {
                meta[node.httpEquiv.toLowerCase()] = node.content;
            });

            return dom.body.innerHTML;
        };

        window.hashLoads = Array.from(document.querySelectorAll('script[data-hash]'))
            .map(node => node.dataset.hash);

        document.addEventListener('htmx:beforeOnLoad', function (e) {
            e.detail.shouldSwap = true;
            e.detail.isError = false;
        });

        document.addEventListener('htmx:beforeSend', function (e) {
            document.querySelectorAll('meta[data-htmx]').forEach(function(node) {
                e.detail.xhr.setRequestHeader(node.getAttribute('name'), node.getAttribute('content'));
            });
        });

        document.addEventListener('htmx:afterRequest', function (e) {
            let parser = new DOMParser();
            let dom    = parser.parseFromString(e.detail.xhr.response, 'text/html');
        });

        document.addEventListener('htmx:beforeHistoryUpdate', function (e) {
            let checkFalse = false;

            if (e.detail.etc.meta['hx-push-url']) {
                e.detail.history.type = 'push';
                e.detail.history.path = e.detail.etc.meta['hx-push-url'];
                checkFalse = true;
            }

            if (e.detail.etc.meta['hx-replace-url']) {
                e.detail.history.type = 'replace';
                e.detail.history.path = e.detail.etc.meta['hx-replace-url'];
                checkFalse = true;
            }

            if (checkFalse && e.detail.history.path == 'false') {
                delete e.detail.history.type;
                delete e.detail.history.path;
            }
        });

        document.addEventListener('htmx:beforeSwap', function (e) {
            e.detail.etc.meta = {};
            e.detail.serverResponse = __vHoist(e.detail.xhr.response, e.detail.etc.meta);

            if (e.detail.etc.meta['hx-retarget']) {
                e.detail.target = document.querySelector(e.detail.etc.meta['hx-retarget']);
            }

            if (e.detail.etc.meta['hx-reselect']) {
                e.detail.selectOverride = e.detail.etc.meta['hx-reselect'];
            }

            if (e.detail.etc.meta['hx-reswap']) {
                e.detail.selectOverride = e.detail.etc.meta['hx-reswap'];
            }
        });

        document.addEventListener('htmx:sseBeforeMessage', function (e) {
            e.detail.data = __vHoist(e.detail.data);
        });
    </script>
</html>
