<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        {% if app.hasFile('public/manifest.json') %}
            <link rel="manifest" href="/manifest.json" />
        {% endif %}

        {% block head %}
        	{% include '@layouts/velocity/head.html' %}
        {% endblock %}
    </head>
    <body
        hx-boost="true"
        hx-target="this"
        hx-swap="innerHTML show:window:top settle:0"
    >
        {% block body %}

        {% endblock %}}
    </body>
    <script>
        window.hashLoads = {};

        document.addEventListener('htmx:beforeSend', function (e) {
            let proxy = e.target.closest('[vf-proxy]');

            e.detail.xhr.setRequestHeader(
                'VF-Proxy',
                proxy ? proxy.getAttribute('vf-proxy') : 'true',
            );
        });

        document.addEventListener('htmx:beforeOnLoad', function (e) {
            e.detail.shouldSwap = true;
            e.detail.isError = false;
        });

        document.addEventListener('htmx:afterRequest', function (e) {
            let parser = new DOMParser();

            if (e.detail.xhr.response.includes('<html>')) {
                let dom = parser.parseFromString(
                    e.detail.xhr.response,
                    'text/html',
                );

                ['script', 'style'].forEach((type) => {
                    dom.querySelectorAll(type).forEach((node) => {
                        let hash = node.getAttribute('data-hash');

                        if (!hash || window.hashLoads[hash]) {
                            return;
                        }

                        let new_node = document.createElement(type);
                        new_node.innerHTML = node.innerHTML;
                        window.hashLoads[hash] = true;

                        document.head.appendChild(new_node);
                        node.remove();
                    });
                });

                e.detail.xhr.response = dom.documentElement.innerHTML;
            }
        });
    </script>
</html>
