<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <meta name="htmx-config" content='{"selfRequestsOnly": false}' />

        {% if app.hasFile('public/manifest.json') %}
            <link rel="manifest" href="/manifest.json" />
        {% endif %}

        {% block head %}
        	{% include '@layouts/velocity/head.html' %}
        {% endblock %}
    </head>
    <body
        id="body"
        hx-boost="true"
        hx-target="this"
        hx-swap="innerHTML show:window:top settle:0"
        class="@container"
    >
        {% block body %}

        {% endblock %}
    </body>
    <script>
        const __vHoist = function(content) {
            let parser = new DOMParser();
            let dom    = parser.parseFromString(content, 'text/html');

            ['script', 'style'].forEach((type) => {
                dom.querySelectorAll(type).forEach((node) => {
                    if ('hash' in node.dataset) {
                        let hash = node.dataset.hash;

                        if (!window.hashLoads.includes(hash)) {
                            let new_node = document.createElement(type);

                            new_node.dataset.hash = hash;
                            new_node.innerHTML = node.innerHTML;

                            window.hashLoads.push(hash);
                            document.head.appendChild(new_node);
                        }

                        node.remove();
                    }
                });
            });

            return dom.body.innerHTML;
        };

        window.hashLoads = Array.from(document.querySelectorAll('script[data-hash]'))
            .map(node => node.dataset.hash);

        document.addEventListener('htmx:beforeOnLoad', function (e) {
            e.detail.shouldSwap = true;
            e.detail.isError = false;
        });

        document.addEventListener('htmx:beforeSend', function (e) {
            document.querySelectorAll('meta[data-htmx]').forEach(function(node) {
                e.detail.xhr.setRequestHeader(node.getAttribute('name'), node.getAttribute('content'));
            });
        });

        document.addEventListener('htmx:beforeSwap', function (e) {
            e.detail.serverResponse = __vHoist(e.detail.xhr.response);
        });

        document.addEventListener('htmx:sseBeforeMessage', function (e) {
            e.detail.data = __vHoist(e.detail.data);
        });
    </script>
</html>
