@import 'tailwindcss';

@theme {
	/**
	 * General
	 */

	--spacing: .25rem;
	--radius-default: var(--radius-none);
	--font-sans: 'Muli', sans-serif;
	--font-mono: 'Source Code Pro', monospace;

	/**
	 * Messages
	 */

	--shadow-message: var(--drop-shadow-sm);
	--radius-message: var(--radius-default);
	--font-weight-message: 400;

	/**
	 * Buttons
	 */

	--shadow-button: var(--drop-shadow-sm);
	--radius-button: var(--radius-md);
	--font-weight-button: 400;


	--color-base: var(--color-zinc-50);     /* Overall Background Color */
	--color-main: var(--color-zinc-950);    /* Main Text Color */
	--color-flip: var(--color-base);        /* Flipped Text Color */
	--color-link: var(--color-amber-700);   /* Link Color */
	--color-push: var(--color-amber-700);   /* Push Color */
	--color-info: var(--color-cyan-700);    /* Info Color */
	--color-warn: var(--color-amber-700);   /* Warn Color */
	--color-halt: var(--color-rose-700);    /* Halt Color */
	--color-play: var(--color-emerald-700); /* Play Color */
}

@layer base {
	@media (prefers-color-scheme: dark) {
		:root, :host {

		}
	}

	@keyframes fade-in {
		from { opacity: 0; }
	}

	@keyframes fade-out {
		to { opacity: 0; }
	}

	::view-transition-old(fade-it) {
		animation: 200ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
	}
	::view-transition-new(fade-it) {
		animation: 350ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	/* Firefox */
	input[type=number] {
	  -moz-appearance: textfield;
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-image: none;
	}

	:focus {
		@apply outline-0;
	}

	html {
		@apply bg-base text-main lg:text-lg font-sans;
	}


	h1, h2, h3, h4, h5 {
		&:not(:last-child) {
			@apply mb-4;
		}
	}

	h1 {
		@apply text-6xl;
	}

	h2 {
		@apply text-4xl border-b border-stone-200;
	}

	h3 {
		@apply text-3xl text-slate-500;
	}

	h4 {
		@apply text-2xl;
	}

	h5 {
		@apply text-xl;
	}

	p, table, ul, ol, pre {
		&:not(:last-child) {
			@apply mb-6;
		}
	}

	hr {
		@apply my-8;
	}

	pre {
		@apply p-4 rounded-sm drop-shadow-md bg-zinc-700 relative leading-6;

		& > code {
			@apply !bg-transparent;
		}

		& > .hljs {
			@apply !pb-4;
		}

		& > .copy {
			@apply absolute inline-block h-[20px] w-[20px] right-3 top-3 bg-[url("https://api.iconify.design/mdi:content-copy.svg?color=%23ffffff&height=20")] cursor-pointer text-transparent;
		}
	}

	:not(pre) > code {
		@apply border border-zinc-300 p-0.5 px-1 text-sm font-mono text-nowrap leading-4;
	}

	svg {
		@apply w-full h-auto;
	}

	a:not([class]) {
		@apply underline decoration-1 decoration-dotted underline-offset-3 text-link;
	}

	ul:not([class]), ol:not([class]) {
		@apply list-outside ml-4;
	}

	ul:not([class]) {
		@apply list-disc;
	}

	ol:not([class]) {
		@apply list-decimal;
	}

	li {
		@apply mb-[.5em];
	}

	table {
		@apply w-full border border-current/15 overflow-y-scroll;
	}

	td, th {
		@apply p-2 text-left align-text-top;
	}

	tr:not(:last-child), tr:only-child {
		@apply border-b border-current/15;
	}
}

@layer utilities {
	.contain {
		@apply
				py-8
			    px-[5%]
			 md:px-[calc((100%-var(--breakpoint-sm))/2)]
			 lg:px-[calc((100%-var(--breakpoint-md))/2)]
			 xl:px-[calc((100%-var(--breakpoint-lg))/2)]
			2xl:px-[calc((100%-var(--breakpoint-xl))/2)]
		;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}
