@import 'tailwindcss';

@theme {
	/**
	 * General
	 */

	--spacing: .25rem;
	--radius-default: var(--radius-none);
	--font-sans: 'Muli', sans-serif;
	--font-mono: 'Source Code Pro', monospace;

	/**
	 * Messages
	 */

	 --radius-message: var(--radius-default);
	 --font-weight-message: 400;

	/**
	 * Buttons
	 */

	 --radius-button: var(--radius-md);
	 --font-weight-button: 400;


	--color-base-50:  var(--color-zinc-50);
	--color-base-100: var(--color-zinc-100);
	--color-base-200: var(--color-zinc-200);
	--color-base-300: var(--color-zinc-300);
	--color-base-400: var(--color-zinc-400);
	--color-base-500: var(--color-zinc-500);
	--color-base-600: var(--color-zinc-600);
	--color-base-700: var(--color-zinc-700);
	--color-base-800: var(--color-zinc-800);
	--color-base-900: var(--color-zinc-900);
	--color-base-950: var(--color-zinc-950);

	--color-main-50:  var(--color-zinc-50);
	--color-main-100: var(--color-zinc-100);
	--color-main-200: var(--color-zinc-200);
	--color-main-300: var(--color-zinc-300);
	--color-main-400: var(--color-zinc-400);
	--color-main-500: var(--color-zinc-500);
	--color-main-600: var(--color-zinc-600);
	--color-main-700: var(--color-zinc-700);
	--color-main-800: var(--color-zinc-800);
	--color-main-900: var(--color-zinc-900);
	--color-main-950: var(--color-zinc-950);

	--color-link-50:  var(--color-teal-50);
	--color-link-100: var(--color-teal-100);
	--color-link-200: var(--color-teal-200);
	--color-link-300: var(--color-teal-300);
	--color-link-400: var(--color-teal-400);
	--color-link-500: var(--color-teal-500);
	--color-link-600: var(--color-teal-600);
	--color-link-700: var(--color-teal-700);
	--color-link-800: var(--color-teal-800);
	--color-link-900: var(--color-teal-900);
	--color-link-950: var(--color-teal-950);

	--color-info-50:  var(--color-cyan-50);
	--color-info-100: var(--color-cyan-100);
	--color-info-200: var(--color-cyan-200);
	--color-info-300: var(--color-cyan-300);
	--color-info-400: var(--color-cyan-400);
	--color-info-500: var(--color-cyan-500);
	--color-info-600: var(--color-cyan-600);
	--color-info-700: var(--color-cyan-700);
	--color-info-800: var(--color-cyan-800);
	--color-info-900: var(--color-cyan-900);
	--color-info-950: var(--color-cyan-950);

	--color-warn-50:  var(--color-amber-50);
	--color-warn-100: var(--color-amber-100);
	--color-warn-200: var(--color-amber-200);
	--color-warn-300: var(--color-amber-300);
	--color-warn-400: var(--color-amber-400);
	--color-warn-500: var(--color-amber-500);
	--color-warn-600: var(--color-amber-600);
	--color-warn-700: var(--color-amber-700);
	--color-warn-800: var(--color-amber-800);
	--color-warn-900: var(--color-amber-900);
	--color-warn-950: var(--color-amber-950);

	--color-halt-50:  var(--color-rose-50);
	--color-halt-100: var(--color-rose-100);
	--color-halt-200: var(--color-rose-200);
	--color-halt-300: var(--color-rose-300);
	--color-halt-400: var(--color-rose-400);
	--color-halt-500: var(--color-rose-500);
	--color-halt-600: var(--color-rose-600);
	--color-halt-700: var(--color-rose-700);
	--color-halt-800: var(--color-rose-800);
	--color-halt-900: var(--color-rose-900);
	--color-halt-950: var(--color-rose-950);

	--color-good-50:  var(--color-emerald-50);
	--color-good-100: var(--color-emerald-100);
	--color-good-200: var(--color-emerald-200);
	--color-good-300: var(--color-emerald-300);
	--color-good-400: var(--color-emerald-400);
	--color-good-500: var(--color-emerald-500);
	--color-good-600: var(--color-emerald-600);
	--color-good-700: var(--color-emerald-700);
	--color-good-800: var(--color-emerald-800);
	--color-good-900: var(--color-emerald-900);
	--color-good-950: var(--color-emerald-950);


}

@layer base {
	@media (prefers-color-scheme: dark) {
		:root, :host {
			--color-base-50:  var(--color-zinc-950);
			--color-base-100: var(--color-zinc-900);
			--color-base-200: var(--color-zinc-800);
			--color-base-300: var(--color-zinc-700);
			--color-base-400: var(--color-zinc-600);
			--color-base-500: var(--color-zinc-500);
			--color-base-600: var(--color-zinc-400);
			--color-base-700: var(--color-zinc-300);
			--color-base-800: var(--color-zinc-200);
			--color-base-900: var(--color-zinc-100);
			--color-base-950: var(--color-zinc-50);

			--color-info-50:  var(--color-cyan-950);
			--color-info-100: var(--color-cyan-900);
			--color-info-200: var(--color-cyan-800);
			--color-info-300: var(--color-cyan-700);
			--color-info-400: var(--color-cyan-600);
			--color-info-500: var(--color-cyan-500);
			--color-info-600: var(--color-cyan-400);
			--color-info-700: var(--color-cyan-300);
			--color-info-800: var(--color-cyan-200);
			--color-info-900: var(--color-cyan-100);
			--color-info-950: var(--color-cyan-50);

			--color-warn-50:  var(--color-amber-950);
			--color-warn-100: var(--color-amber-900);
			--color-warn-200: var(--color-amber-800);
			--color-warn-300: var(--color-amber-700);
			--color-warn-400: var(--color-amber-600);
			--color-warn-500: var(--color-amber-500);
			--color-warn-600: var(--color-amber-400);
			--color-warn-700: var(--color-amber-300);
			--color-warn-800: var(--color-amber-200);
			--color-warn-900: var(--color-amber-100);
			--color-warn-950: var(--color-amber-50);

			--color-halt-50:  var(--color-rose-950);
			--color-halt-100: var(--color-rose-900);
			--color-halt-200: var(--color-rose-800);
			--color-halt-300: var(--color-rose-700);
			--color-halt-400: var(--color-rose-600);
			--color-halt-500: var(--color-rose-500);
			--color-halt-600: var(--color-rose-400);
			--color-halt-700: var(--color-rose-300);
			--color-halt-800: var(--color-rose-200);
			--color-halt-900: var(--color-rose-100);
			--color-halt-950: var(--color-rose-50);

			--color-good-50:  var(--color-emerald-950);
			--color-good-100: var(--color-emerald-900);
			--color-good-200: var(--color-emerald-800);
			--color-good-300: var(--color-emerald-700);
			--color-good-400: var(--color-emerald-600);
			--color-good-500: var(--color-emerald-500);
			--color-good-600: var(--color-emerald-400);
			--color-good-700: var(--color-emerald-300);
			--color-good-800: var(--color-emerald-200);
			--color-good-900: var(--color-emerald-100);
			--color-good-950: var(--color-emerald-50);
		}
	}

	@keyframes fade-in {
		from { opacity: 0; }
	}

	@keyframes fade-out {
		to { opacity: 0; }
	}

	::view-transition-old(fade-it) {
		animation: 200ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
	}
	::view-transition-new(fade-it) {
		animation: 350ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	/* Firefox */
	input[type=number] {
	  -moz-appearance: textfield;
	}

	:focus {
		@apply outline-0;
	}

	html {
		@apply bg-base-50 text-base-950 lg:text-lg font-sans;
	}


	h1, h2, h3, h4, h5 {
		&:not(:last-child) {
			@apply mb-4;
		}
	}

	h1 {
		@apply text-6xl;
	}

	h2 {
		@apply text-4xl border-b border-stone-200;
	}

	h3 {
		@apply text-3xl text-slate-500;
	}

	h4 {
		@apply text-2xl;
	}

	h5 {
		@apply text-xl;
	}

	p, table, ul, ol, pre {
		&:not(:last-child) {
			@apply mb-6;
		}
	}

	hr {
		@apply my-8;
	}

	pre {
		@apply p-4 rounded-sm drop-shadow-md bg-zinc-700 relative;

		& > code {
			@apply !bg-transparent;
		}

		& > .hljs {
			@apply !pb-4;
		}

		& > .copy {
			@apply absolute inline-block h-[20px] w-[20px] right-3 top-3 bg-[url("https://api.iconify.design/mdi:content-copy.svg?color=%23ffffff&height=20")] cursor-pointer text-transparent;
		}
	}

	:not(pre) > code {
		@apply border border-zinc-300 p-0.5 px-1 text-sm font-mono text-nowrap leading-4;
	}

	svg {
		@apply w-full h-auto;
	}

	a:not([class]) {
		@apply underline decoration-1 decoration-base-950 decoration-dotted underline-offset-2 text-amber-700 dark:text-amber-400;
	}

	ul:not([class]), ol:not([class]) {
		@apply list-outside ml-4;
	}

	ul:not([class]) {
		@apply list-disc;
	}

	ol:not([class]) {
		@apply list-decimal;
	}

	li {
		@apply mb-[.5em];
	}

	table {
		@apply w-full border border-current/15 overflow-y-scroll;
	}

	td, th {
		@apply p-2 text-left align-text-top;
	}

	tr:not(:last-child), tr:only-child {
		@apply border-b border-current/15;
	}
}

@layer utilities {
	.contain {
		@apply
				py-8
			    px-[5%]
			 md:px-[calc((100%-var(--breakpoint-sm))/2)]
			 lg:px-[calc((100%-var(--breakpoint-md))/2)]
			 xl:px-[calc((100%-var(--breakpoint-lg))/2)]
			2xl:px-[calc((100%-var(--breakpoint-xl))/2)]
		;
	}

	.container {
		@apply mx-auto px-4 md:px-8 lg:px-12;
	}


	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}
