{% do require(['name', 'scripts']) %}

{% if not app.hasFile('storage/public/scripts/' ~ name ~ '.js') %}
    {% set bundle = app.getFile('storage/public/scripts/' ~ name ~ '.js', true).openFile('w') %}

    {% for local, origin in scripts %}
        {% set partial = app.getFile('public' ~ local).openFile('r') %}

        {% do bundle.fwrite(partial.fread(partial.size)) %}
    {% endfor %}
{% endif %}

{% if not (copy ?? false)|switch %}
    <script
        {{ 'defer'|if((defer ?? false)|switch)}}
        src="/storage/scripts/{{ name }}.js"
    ></script>
{% endif %}
