{% do default({
	url: url ?? null,
	text: text ?? 'Click',
	naked: (naked ?? false)|switch,
	ghost: (ghost ?? false)|switch,
}) %}

{% set classes = styling(
    'py-2 px-4 font-button inline-block cursor-pointer rounded-button text-center',
    {
        'text-push': ghost,
        'bg-push text-main': not ghost,
        'shadow-button': not naked,
        'underline': ghost and naked,
        'border': ghost and not naked,
    }
) %}

{% set content %}
    {% if children|length %}
        {{ children|raw }}
    {% else %}
        {{ text }}
    {% endif %}
{% endset %}

{% if url %}
    <a class="{{ classes }}" href="{{ url }}">
        {{ content }}
    </a>
{% else %}
    <button class="{{ classes }}">
        {{ content }}
    </button>
{% endif %}
