{% do default({
	url: url ?? null,
	text: text ?? '...',
	naked: (naked ?? 'false')|int,
	ghost: (ghost ?? 'false')|int,
}) %}

{% do styling(
    'py-2',
    'px-4',
    'font-button',
    'inline-block',
    'cursor-pointer',
    'rounded-button',
    'bg-push'|if(not ghost),
    'text-flip'|if(not ghost),
    'shadow-button'|if(not naked),
    'underline'|if(ghost and naked),
    'border'|if(ghost and not naked),
    'text-push'|if(ghost),
) %}

{% set content %}
    {% if children|length %}
        {{ children|raw }}
    {% else %}
        {{ text }}
    {% endif %}
{% endset %}

{% if url %}
    <a class="{{ styling }}" href="{{ url }}">
        {{ content }}
    </a>
{% else %}
    <button class="{{ styling }}">
        {{ content }}
    </button>
{% endif %}
