{% set autoclose = (autoclose ?? ctx.autoclose ?? false)|int  %}
{% set animate   = (animate ?? ctx.animate ?? false)|int  %}
{% set capture   = (capture ?? false)|int  %}
{% set open      = (open ?? false)|int  %}

<script>
    function hShade(opt) {
        return {
            shade: opt.shade,
            autoclose: opt.autoclose,
            open: opt.open,
            toggle() {
                if (this.autoclose) {
                    if (this.opened != this.shade) {
                        this.opened = this.shade;
                    } else {
                        this.opened = null;
                    }

                } else {
                    this.open = ! this.open;
                }

                if (!this.isOpen) {
                    this.$dispatch('shade-closed', { el: this.$el });
                }
            },
            get isOpen() {
                return this.autoclose ? this.opened == this.shade : this.open;
            }
        }
    };
</script>

<section
    x-data="hShade({
        shade: $id('shade'),
        autoclose: {{ autoclose}},
        open: {{ open }},
    })"
    class="first:pt-0 last:pb-0"
>
    <div
        {% if capture %}
            x-on:click="toggle()"
        {% endif %}
        class="flex items-end cursor-pointer"
    >
        <x:: class:="grow">
            {{ (children[0] ?? null)|raw }}
        </x::>

        <x::
            {% if not capture %}
                x-on:click:="toggle()"
            {% endif %}
            class:="w-6 ml-4 shrink-0"
        >
            <i::icon x-show:="!isOpen" name="expand-up-down-line" />
            <i::icon x-show:="isOpen"  name="arrow-down-s-line" />
        </x::>
    </div>

    <div
        x-show="isOpen"
        {% if animate %}
            x-transition
        {% endif %}
        class="mt-4"
    >
        {{ children|slice(1)|join|raw }}
    </div>
</section>
