{% do default({
    'autoclose': (autoclose ?? context.autoclose ?? false)|switch,
    'animate': (animate ?? context.animate ?? false)|switch,
    'capture': (capture ?? false)|switch,
    'open': (open ?? false)|switch
}) %}

<script>
    function hShade(opt) {
        return {
            shade: opt.shade,
            autoclose: opt.autoclose,
            open: opt.open,
            toggle() {
                if (this.autoclose) {
                    if (this.opened != this.shade) {
                        this.opened = this.shade;
                    } else {
                        this.opened = null;
                    }

                } else {
                    this.open = ! this.open;
                }

                if (!this.isOpen) {
                    this.$dispatch('shade-closed', { el: this.$el });
                }
            },
            get isOpen() {
                return this.autoclose ? this.opened == this.shade : this.open;
            }
        }
    };
</script>

<section
    x-data="hShade({
        shade: $id('shade'),
        autoclose: {{ autoclose}},
        open: {{ open }},
    })"
    class="first:pt-0 last:pb-0"
>
    <div
        {% if capture %}
            x-on:click="toggle()"
        {% endif %}
        class="flex items-center {{ class|default('') }} {{ 'cursor-pointer'|if(capture) }}"
    >
        <x:: class:="grow">
            {{ (children[0] ?? null)|raw }}
        </x::>

        <x::
            {% if not capture %}
                x-on:click:="toggle()"
            {% endif %}
            class:="w-6 shrink-0 cursor-pointer"
        >
            <i::icon x-show:="!isOpen" name="expand-up-down-line" />
            <i::icon x-show:="isOpen"  name="arrow-down-s-line" />
        </x::>
    </div>

    <div
        x-show="isOpen"
        {% if animate %}
            x-transition
        {% endif %}
    >
        {{ children|slice(1)|join|raw }}
    </div>
</section>
